@model IEnumerable<PickAndGo.ViewModels.UserVM>

@{
    ViewData["Title"] = "User Roles";
}

<h1>Existing User Emails</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Detail" asp-route-userName=@item.Email>View Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
