@model IEnumerable<PickAndGo.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

<p>
    <a type="button" class="btn btn-outline-secondary" asp-action="Create">Create New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                    <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-rolename="@item.RoleName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
