@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="home-page-card-stack text-center d-flex flex-column w-100 h-100 align-items-stretch">
    <div class=" = flex-grow-1">
        <h1>Carousel - Advertisements</h1></>
    </div>
    <div class= "create-account-card d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <h1>Don't Have An Account?</h1>
        <p>Join to help you remember your favourites</p>
        <a class="btn btn-dark" href="#" role="button">Create Account</a>
    </div>
    <div class="login-account-card d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <h1>Have An Account?</h1>
        <a class="btn btn-dark" href="#" role="button">Login</a>
    </div>
    <div class="guest-card d-flex flex-column flex-grow-1 justify-content-center align-items-center">
        <h1>Did You Want To Proceed as Guest?</h1>
        <p>Just need a name to take the order!</p>
        <form>
           <label for="name-field">Name:</label>
           <input type="text" class="form-control" id="name-field"/>


        </form>


    </div>
</div>
