@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="landing-page">
    <img src="https://i.imgur.com/Z1Rb2VG.png" class="">
    <div class="paragraph">
        <div class="title">Feeling Hungry?</div>
        <div class="sub-title">Let's Start An Order!</div>
        <button class="btn-outline"> <a asp-area="" asp-controller="Home" asp-action="Index">Start an Order</a></button>
    </div>
</section>
@{
}
