<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PickAndGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Erik.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Steph.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PickAndGo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Byul.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ShoppingCart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/RegisterPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomerEdit.css" asp-append-version="true" />





    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/70ea7e4323.js" crossorigin="anonymous"></script>

    <!-- Google Fonts-->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md accordion-header navbar-light ">
            <!-- Menu Button -->
            <button class="navbar-toggler text-white border-0 px-4" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                @*<span class="navbar-toggler-icon"></span>*@
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- Logo-->
            <a class="d-flex justify-content-center" asp-area="" asp-controller="Home" asp-action="Landing">
                <img src="https://i.imgur.com/Z1Rb2VG.png" class="mx-3">
            </a>

            <!-- Cart Icon -->
            @if (!User.IsInRole("Admin"))
            {
                <button class="navbar-cart order-md-5 border-0 bg-transparent text-white position-relative fs-4 px-4" id="checkout" onclick="checkout()">
                    <i class="fa-solid fa-cart-shopping"></i> @*top-0 start-20 *@
                <span id="cart-icon" class="position-absolute translate-middle badge rounded-pill bg-danger">
                    0
                </span>
            </button>
            }


            <!-- Navigation Panel-->
            <div class="navbar-collapse collapse d-md-inline-flex p-3 p-md-0 gap-3">
               @if (User.IsInRole("Admin"))
                {
                <div class="dropdown py-2 ps-md-2">
                    <button class="dropdown-toggle border-0 bg-transparent text-white p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Overview">Overview</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Orders">Orders</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Products">Products</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Ingredients">Ingredients</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="CustomerList">Customers</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Admin" asp-action="Transactions">Transactions</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link text-secondary" asp-area="" asp-controller="UserRole" asp-action="Index">User Roles</a>
                        </li>
                        <!-- Profie moved to LoginPartial, Start Order is below-->
                    </ul>
                </div>
                }
                @if (User.IsInRole("Customer")){
                <ul class="navbar-nav w-25">
                    <li class="nav-item">
                        <a class="nav-link text-white ps-0" asp-area="" asp-controller="Order" asp-action="Index">Start Order</a>
                    </li>
                </ul>
                }
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="root">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer class="bottom">
        <div class="d-flex justify-content-center p-3">&copy; 2023 Pick And Go</div>
    </footer>
 
    <!--End of Footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/init.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
