/*
* CUSTOMIZE PAGE
*/
.customize label {
    font-size: 1rem;
    color: gray;
}

.clear-btn {
    color: #ffaf01;
}

.clear-btn:hover{
    color: #ef6900
}

/* Radio Button (class: radio-btn) */
.radio-btn {
    cursor: pointer;
    /*transition: background .2s ease;*/
}

.radio-btn input {
    border: 1px solid gray;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    appearance: none;
    /*transition: box-shadow 150ms ease-in-out;*/
    pointer-events: none
}

.radio-btn input:checked {
    border: 1px solid orange;
    background-color: orange;
   box-shadow: inset 0 0 0 2px white;
}

/* Temp btns styling (color, outline) */
.customize button {
    background-color: #ffaf01;
    outline: none;
    border: none;
}

.customize button:hover {
    background-color: #ef6900;
    outline: none;
    border: none;
}

/* 
* ADMIN-OVERVIEW
*/
.overview * {
    box-sizing:border-box;
}
.overview button {
    border: none;
    color: white;
    background-color: #ffaf01;
}

.overview button:hover {
    background-color: #ef6900;
}
 
.overview .update {
    color: gray;
}

.overview .orders {
    color: #ffaf01;
}

/* Favourites */

 
.text {
    color: #ffaf01;
}
 
.favorites table * {
    border:none;
}
.favorites th {
 
}

.favorites {
 
}