.customer-edit-page {
    padding: 0;
    margin-top: 1rem;
    max-width: 1200px;
    margin:auto;
    display:flex;
    margin-top: 6rem;
    align-items:center;
}

.customer-edit-form {
    margin:auto;
}

.customer-edit-form input {
    margin-bottom: 20px;
}

.customer-edit-form label {
    color: black;
}

.submit-btn{
    margin-top: 1rem;
    height: 2.9rem;
    width: 250px;
}

.message-prompt {
    margin-top: 3rem;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 768px) {
    .register-page {
        max-width: 100%;
    }
}
