body {
    margin: 0;
    padding: 0;
}

.the-form {
    margin-left: 65px;
    margin-bottom: 50px;
}

.main-container {
    margin: 0;
    padding: 0;
}

.title-name {
  color: #ef6900;
}

.header-titles {
    background-color: #ffaf01;
    color: white;
    border-radius: 0px 0px 30px 30px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    position: relative;
    height: 130px;
    margin-bottom: 40px;
}

.header-titles h1 {
    text-align: center;
}

.header-name {
    border-radius: 10px;
    background-color: white;
    color: #ef6900;
    width: max-content;
    margin-left: 20px;
    padding: 15px;
    margin-top: 90px;
    position: absolute;
    transform: translateX(-60%);
    left: 50%;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-name-edit {
    border-radius: 10px;
    background-color: white;
    color: #ef6900;
    width: max-content;
    margin-left: 40px;
    padding: 15px;
    margin-top: 90px;
    position: absolute;
    transform: translateX(-60%);
    left: 50%;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    padding-top: 15px;
    color: #ef6900;
    font-size: 1em;
    width: 300px;
}

.form-group input {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

@media (max-width: 768px) {
    .details-button {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
}