body {
    margin: 0;
    padding: 0;
}

#registerForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#registerForm h1 {
    text-align: center;
    color: #ef6900;
}

#registerForm label {
    margin-top: 20px;
    font-size: 150%;
    color: #ef6900;
}

#registerForm button {
    margin-bottom: 15px;
    background-color: #ef6900;
    font-size: 150%;
}

.main-container {
    margin: 0;
    padding: 0;
    height: 50vh;
}

.title-name {
  color: #ef6900;
}

.header-titles {
    background-color: #ffaf01;
    color: white;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
    height: 20%;
    border-radius: 0 0 100% 100%;
    box-sizing: border-box;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header-titles h1 {
    text-align: center;
    color: white;
}

.header-name {
    border-radius: 10px;
    background-color: white;
    color: #ef6900;
    width: max-content;
    padding: 1rem;
    position: absolute;
    bottom: -33%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border: 1px solid lightgray;
}

.customer-details{
    margin-top:5rem;
}

.title-name {
}

.customer-details-table{
    width:60%;
    margin:auto;
}

.customer-details-buttons {
    margin-top:3rem;
}

.customer-details-buttons a {
    width:40%;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 800px){
    .customer-details-table {
        width: 80%;
        min-width:350px;
    }
    .customer-details-buttons a {
        min-width: 300px
    }
}

.title-result {
    width:200px;
}

.header-name-edit {
    border-radius: 10px;
    background-color: white;
    color: #ef6900;
    width: max-content;
    margin-left: 40px;
    padding: 15px;
    margin-top: 90px;
    position: absolute;
    transform: translateX(-60%);
    left: 50%;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/*.form-group {
    padding-top: 15px;
    font-size: 1em;
    width: 300px;
}

.form-group input {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}*/

/*.form-floating {
    width: 300px;
}

.form-floating input {
    margin-top: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
*/
.g-recaptcha {
    margin-top: 15px;
    margin-bottom: 15px;
}

.the-form {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-btn {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .details-button {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
}