html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Default setting */

body .container {
    padding: 0;
}

header {
    height: 65px;
    background-color: #ffaf01;
}

.root {
    min-height: calc(100vh - 65px);
}

main {
    /* main or section.. whatever */
    margin: 20px;
    min-height: calc(100vh - 65px);
    height: 100%;
}

h1, h2, h3, h4 {
    color: #ef6900;
}

/* Navigation */

nav {
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 14px;
}

nav button {
    font-size: 14px !important;
}

nav button:hover {
    color: #ef6900 !important;
}

nav img {
    width: 150px;
    padding-top: 5px;
}

.nav-item{
 
}

nav .dropdown button:hover {
    color: #ef6900 !important;
}

nav li a:hover {
    color: #ef6900 !important;
}

#cart-icon {
    font-size: 0.7rem;
    top: 0;
 
}

.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-collapse {
    background-color: #ffaf01;
}

 

@media (max-width: 768px) {
    .dropdown-menu{
        display: block;
        position: static;
        background-color: transparent;
        border: none;
    }
    .dropdown-menu li a{
        color: white !important;
    }
    .dropdown-menu li:hover{
        background-color: rgba(255,255,255,0.1);
    }
    nav .dropdown button:hover {
        color: white !important;
        cursor:auto;
    }
}

/* Bootstrap button styles */

.btn-primary {
    background-color: #ef6900;
    border-radius: 5px;
    border-color: #ef6900;
}

.btn-outline {
    background-color: white;
    color: #ef6900;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    height: 30px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ffaf01;
    color: black:
}

/* General accordion styles */

.accordion-body {
    min-height: 100%;
}

.accordion-button {
    border-style: none;
    background-color: white !important;
    outline: none;
    padding: 0;
    margin-left: 0px;
}

.accordion-button:focus {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
    color: black;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
}

.accordion-button.collapsed::after {
    background-image: url("/images/down-arrow.jpg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/images/down-arrow.jpg");
}

.col {
    padding: 0;
}

/* Order list with expanding/collapsing sections styles */

.order-title {
    display: flex;
}

.order-filter {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.order-search {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.order-search input[type="text"] {
    width: 150px;
}

.order-filter #orderfilter {
    height: 31px;
}

.col7 form {
    text-align: center;
}

/* Modal confirmation window styles */

.modal-table {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.modal-table td {
    padding-left: 15px;
}

/* Ingredient list with expanding/collapsing sections styles */

.celldesc {
    width: 250px;
}

[aria-current="page"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: lightgray;
}

.stock-icon {
    height: 1.5em;
    width: 1.5em;
    margin-left: 20px;
}

.ingredient-image {
    width: 80px;
    height: 80px;
}

/* Order selection styles */

.sandwich-image {
    width: 170px;
    height: 100px;
    border: 1px solid black;
}

.button-strip {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    height: 40px;
    width: 100%;
}

.radio-group input[type=radio] {
    transform: scale(1.8);
}

input[type=radio] {
    transform: scale(1.8);
}

/* Order history styles */

.no-padding {
    padding: 0;
}

.cell-image {
    width: 25px;
}

.cell-amount {
    text-align: right;
    6
}

/* Favorites styles */

.cell-image2 {
    width: 20px;
}

.modal-a {
    text-decoration: none;
}

.add-button {
    min-width: 150px;
}

/* Transactions styles */

.date-filter {
    margin-left: 50px;
    margin-top: 10px;
}

.date-filter input[type="date"] {
    width: 125px;
}

/* Landing Page */
.landing-page {
    background-image: linear-gradient(#ffaf01, #ef6900);
}

.landing-page img {
    max-width: 700px;
    padding: 50px;
    margin-bottom: 10px;
}

.landing-page .button {
    max-width: 600px;
}

.landing-page a {
    text-decoration: none;
    color: #ef6900;
    transition: all 0.2s ease-in-out;
}

.landing-page a:hover{
    background-color: rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}


/* Footer */
