
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
}

    body .container {
        padding: 0;
    }

/* General accordion styles */

.accordion-body {
    min-height: 100%;
}

.accordion-button {
    border-style: none;
    background-color: white !important;
    outline: none;
    padding: 0;
    margin-left: 0px;
}

    .accordion-button:focus {
        background-color: white !important;
        box-shadow: none !important;
        border-style: none;
        outline: 0;
    }

    .accordion-button:not(.collapsed) {
        background-color: white !important;
        box-shadow: none !important;
        border-style: none;
        outline: 0;
    }

    .accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
        background-color: white !important;
        box-shadow: none !important;
        border-style: none;
        outline: 0;
    }

.col {
    padding: 0;
}

/* Order list with expanding/collapsing sections styles */

.order-title {
    display: flex;
}

.order-filter {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.order-search {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

    .order-search input[type="text"] {
        width: 150px;
    }

.order-filter #orderfilter {
    height: 31px;
}

.col7 form {
    text-align: center;
}

/* Modal confirmation window styles */

.modal-table {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

    .modal-table td {
        padding-left: 15px;
    }

/* Ingredient list with expanding/collapsing sections styles */

.celldesc {
    width: 250px;
}

[aria-current="page"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: lightgray;
}

.stock-icon {
    height: 1.5em;
    width: 1.5em;
    margin-left: 20px;
}

/* Order selection styles */

.sandwich-image {
    width: 170px;
    height: 100px;
    border: 1px solid black;
}

.button-strip {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    height: 40px;
    width: 100%;
}

<th class="col-1" >

.radio-group input[type=radio] {
    transform: scale(1.8);
}

/* Order history styles */

.no-padding {
    padding: 0;
}

.cell-image {
    width: 25px;
}

.cell-amount {
    text-align: right;
    6
}

/* Favorites styles */

.cell-image2 {
    width: 20px;
}

.modal-a {
    text-decoration: none;
}

.add-button {
    min-width: 150px;
}

/* Transactions styles */

.date-filter {
    margin-left: 50px;
    margin-top: 10px;
}

    .date-filter input[type="date"] {
        width: 125px;
    }


/***************/
/* Navigation*/

header .navbar {
    /* background-color: #ffaf01; */
 
}

header .contianer-fluid {
}


/* Menu Button */
header .navbar-toggler {
    border: none;
}

header .navbar-toggler i {
    font-size: 1.5rem;
    color: white;
}

header .navbar-toggler:active,
hadear .navbar-toggler:hover,
header .navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* #ffaf01
#ef6900 */
header .navbar-brand {
    display: flex;
    justify-content: center;
}


header .navbar-brand img {
    width: 150px;

}

header .navbar-cart {
    color: white;
    font-size: 1.5rem;
    padding-right: 7px;
    background-color: transparent;
    border: none;
}

header .navbar-collapse {
    background-color: white;
  
}

/*ul*/
header .navbar-nav {
  
}

/*li*/
header li a {
 
}


/* Main */
header {
    position: relative;
    z-index: 10;
}
.root {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 68px;
    background-color: #ffaf01;
    height: 100vh;
}

main {
    box-sizing: border-box;
    height: 100%;
    background-color: white;
}


.text {
    width: 100%;
    height: 200px;
    background-color: skyblue;
    border: 2px solid green;
}

#cart-icon{
    width: 10px;
}

footer {
}

/* Homepage */


/* Landing Page */
/* Going to shift to Bootstrap later */
* {
    box-sizing: border-box;
}
.landing-page {
    box-sizing: border-box;
    background-image: linear-gradient(#ffaf01, #ef6900);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing-page img{
    width: 100vw;
    padding: 50px;
    margin-bottom: 100px;
}

.landing-page .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page .title {
    font-weight: 700;
    font-size: 2rem;
}

.landing-page .sub-title {
    margin-bottom: 20px;
}

    .landing-page a {
        text-decoration: none;
        color: #ef6900;
    }


.paragraph button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #ef6900;
    font-weight: 700;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4)
}

.paragraph button:hover {
    background-color: #ffaf01;
    color: white;
}