
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* General accordion styles */

.accordion-button {
    border-style: none;
    background-color: white !important;
    outline: none;
    padding: 0;
    margin-left: 0px;
}

.accordion-button:focus {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
    background-color: white !important;
    box-shadow: none !important;
    border-style: none;
    outline: 0;
}

.col {
    padding: 0;
}

/* Order list with expanding/collapsing sections */

.order-title {
    display: flex;
}

.order-filter {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.order-search {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 10px;
}

.order-filter #orderfilter {
    height: 31px;
}

.col7 form {
    text-align: center;
}

/* Modal confirmation window styles */

.modal-table {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.modal-table td {
    padding-left: 15px;
}

/* Ingredient list with expanding/collapsing sections */

.celldesc {
    width: 250px;
}

[aria-current="page"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: lightgray;
}
