input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    margin-left: 10px;
}

input[type="checkbox"]:checked {
    background-color: #ef6900;
    color: white;
}

.form-control {
    padding-top: 15px;
    font-size: 1em;
    width: 300px;
}

.form-control input {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control:focus {
    border-color: #ef6900;
    box-shadow: 0 0 0 0.2rem rgba(0, 1, 0.5, 0.25);
}

.form-group:focus {
    border-color: #ef6900;
    box-shadow: 0 0 0 0.2rem rgba(0, 1, 0.5, 0.25);
}

.btn-outline-secondary {
    background-color: lightgray;
    color: black;
}

.btn-search {
    margin-bottom: 5px;
}

.paginated-list {
    display: flex;
    gap: 10px;
}

.paginated-list a {
    text-decoration: none;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.page-button {
    width: 25px;
    height: 25px;
    background-color: lightgray;
}

/* table styling */

.table-heading {
    background-color: #ffaf01;
    color: white;
}

.button-120 {
    width: 120px;
}
