@model PickAndGo.ViewModels.OrderHeaderVM

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int outstanding = Model != null ? Model.Outstanding : 0;
    int completed = Model != null ? Model.Completed : 0;

}


<h1>Overview</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Outstanding
            </th>
            <th>
                Completed
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @outstanding
            </td>
            <td>
                @completed
            </td>
        </tr>
    </tbody>
</table>
