@model PickAndGo.ViewModels.OrderHeaderVM

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int outstanding = Model != null ? Model.Outstanding : 0;
    int completed = Model != null ? Model.Completed : 0;
    decimal outstandingVal = Model != null ? Model.OutstandingVal : 0;
    decimal completedVal = Model != null ? Model.CompletedVal : 0;
    string date = Model.Date;
}


<h1>Overview</h1>

<form asp-controller="Admin" asp-action="Overview" method="get">
    <input type="submit" name="submitBtn" value="<" />
    <input type="date" name="currentDate" value="@date" required />
    <input type="submit" name="submitBtn" value="Go" />
    <input type="submit" name="submitBtn" value=">" @(Convert.ToDateTime(date).CompareTo(DateTime.Now.Date) < 0  ? "" : "disabled") />
</form>

<p>Last Update: @ViewData["CurrentTime"]</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Outstanding
            </th>
            <th>
                Completed
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @outstanding
            </td>
            <td>
                @completed
            </td>
        </tr>
        <tr>
            <td>
                $ @outstandingVal
            </td>
            <td>
                $ @completedVal
            </td>
        </tr>
    </tbody>
</table>
