@model Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main>
    <div class="d-flex flex-column w-50 m-auto">
        <div class="w-100 d-flex flex-column justify-item-center">
            <div>
                <h1>Edit Product</h1>

                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="ProductEdit">
                            <div asp-validation-summary="ModelOnly" ></div>
                            <input type="hidden" asp-for="ProductId" />
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BasePrice" class="control-label"></label>
                                <input asp-for="BasePrice" class="form-control" />
                                <span asp-validation-for="BasePrice" ></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="control-label">Image URL</label>
                                <input asp-for="Image" class="form-control" />
                                <span asp-validation-for="Image" ></span>
                            </div>
                            <div class="form-group mt-4">
                                <input type="submit" value="Save" class="btn btn-primary button-120" />
                                <a type="button" class="btn btn-outline-secondary button-120" asp-action="Products">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
