@model PickAndGo.Models.OrderHeader

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    // Retrieve the value of the "email" session variable
    string? email = Context.Session.GetString("email");
}
<br />
<br />
<div class="text-success">
    <div class="text-center">
        <div class="text-center">
            <span class="text-center">
                <span style="font-size: 2em;">Thank you for your order</span><br><br><br><br>
                <span style="font-size: 1.4em;">
                    Your $@Html.DisplayFor(model => model.OrderValue) @Html.DisplayFor(model => model.Currency) @Html.DisplayFor(model => model.PaymentType) transaction was successful.
                </span>
            </span>
            <br>
            <br>
            <span class="text-center" style="font-size: 1.2em;">Keep this transaction Id for future reference.</span>
            <span style="color: black; font-size: 1.2em;"> @Html.DisplayFor(model => model.PaymentId)</span><br/>
            <span style="font-size: 1.2em;">A confirmation email has been sent to @email </span>
        </div>

            <div style="margin-top: 50px;">
                <h4>Thank you for choosing Sandwich Palace for your sandwich needs!</h4>
                <p>Visit us at:</p>
                <p>123 Main Street, Anytown, CA 12345</p>
                <p>Call us at: (555) 123-4567</p>
            </div>
    </div>
</div>
