@model IEnumerable<PickAndGo.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Select A Sandwich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="start-order">

    <h3 class="order-index-header text-center mb-0 pb-2">Hello @ViewBag.NameInput,</h3>
    <h1 class="text-center">Please Select a Sandwich Size!</h1>

    <form method="post" action="@Url.Action("Customize", "Order")">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="text-center">Base Price</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <div>
                        <td>
                            <img class="sandwich-image" src="~/images/@item.Image" alt="Sandwich">
                        </td>
                        <td class="align-middle text-left">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle text-center">
                            $@Html.DisplayFor(modelItem => item.BasePrice)
                        </td>
                        <td class="radio-group align-middle">
                            <input asp-for=@item.SelectedProductId value="@item.ProductId" id="type_radio_@item.ProductId" name="SelectedProductId" type="radio" />
                        </td>
                            </div>
                    </tr>
                }
            </tbody>
        </table>
        <div class="button-strip">
            <button type="submit" class="btn btn-primary">Customize</button>
        </div>
    </form>
</main>
